<h1><%=@brew_log.name%></h1>
<%=@brew_log.method%>
<%=@brew_log.boil_time%>
<%=@brew_log.pre_boil_size%>
<%=@brew_log.pre_boil_gravity%>
<%=@brew_log.target_og%>
<%=@brew_log.target_fg%>
<%=@brew_log.ibu%>
<%=@brew_log.srm%>
<%=@brew_log.mash_ph%>
<%=@brew_log.mash_schedule%>

<%@brew_log.fermentables.each do |fermentable|%>

<%end%>
<%# TODO fix associations when creating a brew_log from recipe %>
<%@brew_log.recipe_hops.each do |hop|%>
Hop name:<%=hop.hop.name %>
Time added:<%=hop.time_added.time_added %>
Amount<%=hop.measurement_amount.measurement_amount %>
<%=hop.measurement.measurement %>
<%end%>

<%# todo turn into button %>
<%if current_user == @brew_log.user%>
<a href="/brew_logs/<%= @brew_log.id %>/edit">Edit</a>
<%end%>

<%#Todo create transfer of brew_log_record to recipe record%>
<a href="/brew_logs/<%=@brew_log.id%>">Make into Base Recipe</a>